{% extends "skeleton.html" %}
    
    {% block header %}
    <!-- Callout -->
    <aside class="callout">
        <div class="text-vertical-center">
            <!-- <img src="img/anurag_white.png" alt="Anurag LOGO" height="300" width="300"> -->
            <h1>My Blog</h1>
            <h4>Anurag Singhal</h4>
        </div>
    </aside>
    {% endblock %}

    {% block section %}
    <!-- Portfolio -->
    <section class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio-item">
                                <script async src="https://static.medium.com/embed.js"></script>
                                <a class="m-profile" data-width="100%" href="https://medium.com/@asinghal17">Anurag Singhal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    {% endblock %} 