{% extends "skeleton.html" %}
    
    {% block header%}
    <!-- Callout -->
    <aside class="callout">

        <div class="text-vertical-center">
            <!-- <img src="img/anurag_white.png" alt="Anurag LOGO" height="300" width="300"> -->
            <h1>My Work</h1>
            <h4>Project RISHI</h4>
        </div>
    </aside>
    {% endblock %}

    {% block section %}
    <!-- Portfolio -->
    <section class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Flyer Designs</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/crowdfunding.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/flyerfall.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/NGOfairflyer.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/eyecamp.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/AmazonSmile_flyer2.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/conf_leadership.jpg') }}">
                                <!-- </a> -->
                            </div>
                        </div>

                    </div>
                    <!-- /.row (nested) -->
                    
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>T-Shirt/Apparel Designs</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/pullover.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/quarterziprishi.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/rishitshirt.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <!-- <a href="#"> -->
                                    <img class="img-portfolio img-responsive" src="{{ url_for('static', filename='img/natretreat.png') }}">
                                <!-- </a> -->
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    
                </div>
                <!-- /.col-lg-10 -->
            </div>

            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Web Development and Other Projects</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <h3 style="color:#ff6701" class="media-heading">projectRISHI.org <small style="color:#01601e">New Look. Same Mission.</small> </h3>
                                <p><b>Inspired By:</b> GrayScale Bootstrap
                                <br><b>Designer:</b> Kamini Iyer
                                <br><b>Developer:</b> Anurag Singhal
                                <br>
                                <br><a class="btn btn-dark" href="http://www.projectrishi.org">Visit Website</a><br></p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->                 

                </div>
                <!-- /.col-lg-10 -->
            </div>
    </div>
        <!-- /.container -->
    </section>
    {% endblock %}